In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
data = pd.read_csv('Estatística+para+Ciência+de+Dados+e+Machine+Learning (1)/Estatística para Ciência de Dados e Machine Learning/Bases de dados/census.csv')
data.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

## Amostragem aleatória simple

In [3]:
df_amostra_aleatoria_simples = data.sample(n=100, replace=False, random_state=0)

In [4]:
def amostra_aleatoria_simples(data, amostras):
    df_amostra_aleatoria = data.sample(n=amostras, replace=False, random_state=0)
    
    return df_amostra_aleatoria

## Amostragem Sistemática

In [5]:
len(data) // 100

325

In [6]:
random.seed(1)
random.randint(0, 325)

68

In [7]:
68+325

393

In [8]:
np.arange(68, len(data), step=325)

array([   68,   393,   718,  1043,  1368,  1693,  2018,  2343,  2668,
        2993,  3318,  3643,  3968,  4293,  4618,  4943,  5268,  5593,
        5918,  6243,  6568,  6893,  7218,  7543,  7868,  8193,  8518,
        8843,  9168,  9493,  9818, 10143, 10468, 10793, 11118, 11443,
       11768, 12093, 12418, 12743, 13068, 13393, 13718, 14043, 14368,
       14693, 15018, 15343, 15668, 15993, 16318, 16643, 16968, 17293,
       17618, 17943, 18268, 18593, 18918, 19243, 19568, 19893, 20218,
       20543, 20868, 21193, 21518, 21843, 22168, 22493, 22818, 23143,
       23468, 23793, 24118, 24443, 24768, 25093, 25418, 25743, 26068,
       26393, 26718, 27043, 27368, 27693, 28018, 28343, 28668, 28993,
       29318, 29643, 29968, 30293, 30618, 30943, 31268, 31593, 31918,
       32243])

In [9]:
def amostra_sistematica( data, amostras):
    intervalo = len(data) // amostras
    random.seed(1)
    inicio = random.randint( 0, intervalo)
    indices = np.arange( inicio, len(data), step=intervalo )
    
    amostra =  data.iloc[indices]
    
    return amostra

In [44]:
df_amostra_sistematica = amostra_sistematica(data, 100)

## Amostragem por grupos

In [10]:
len(data) // 10

3256

In [11]:
grupos = []
id_grupo = 0
contagem = 0

for _ in data.iterrows():
    grupos.append( id_grupo )
    contagem += 1
    if contagem > 3256:
        contagem = 0
        id_grupo += 1

In [12]:
# print(grupos)

In [13]:
np.unique(grupos, return_counts=True)

(array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]),
 array([3257, 3257, 3257, 3257, 3257, 3257, 3257, 3257, 3257, 3248]))

In [14]:
data['grupo'] = grupos

In [15]:
random.randint( 0,9 )

9

In [16]:
df_agrupamento = data.loc[data.grupo == 7]

In [17]:
def amostragem_agrupamento( data, numero_grupos ):
    intervalo = len(data) // numero_grupos
    grupos = []
    id_grupo = 0
    contagem = 0

    for _ in data.iterrows():
        grupos.append( id_grupo )
        contagem += 1
        if contagem > intervalo:
            contagem = 0
            id_grupo += 1
    
    data['grupo'] = grupos
    random.seed(1)
    grupo_selecionado = random.randint(0, numero_grupos)
    return data[data['grupo'] == grupo_selecionado]

In [18]:
%%time
amostragem_grupo = amostragem_agrupamento(data, 100)

CPU times: user 1.44 s, sys: 1.6 ms, total: 1.44 s
Wall time: 1.44 s

In [19]:
amostragem_grupo.shape

(326, 16)

In [20]:
def amostragem_agrupamento_tunada( data, numero_grupos ):
    lista = np.arange(0, len(data), (len(data) // numero_grupos))
    random.seed(1)
    grupo_selecionado = random.randint(0, numero_grupos)
    return data.iloc[ lista[grupo_selecionado]: (lista[grupo_selecionado + 1])+1]

In [21]:
%%time
teste = amostragem_agrupamento_tunada( data, 100 )

CPU times: user 232 µs, sys: 16 µs, total: 248 µs
Wall time: 235 µs

In [46]:
df_amostragem_agrupamento_tunada = amostragem_agrupamento_tunada(data, 7)

## Amostragem estratificada

In [22]:
from sklearn.model_selection import StratifiedShuffleSplit

In [24]:
100 / len(data)

0.0030711587481956942

In [61]:
def amostragem_estratificada( data, percentual, random_state=0):
    split = StratifiedShuffleSplit(test_size=percentual, random_state=random_state)
    for train, test in split.split(data, data.income):
        train = data.iloc[x]
        test = data.iloc[y]
        
    return train, test

In [37]:
train, test = amostragem_estratificada(data, 0.0030711587481956942) 
train.shape, test.shape

((32461, 16), (100, 16))

## Amostragem de Reservatório (stream)

In [28]:
stream = []
for i in range(len(data)):
    stream.append(i)

In [29]:
def amostragem_resevatorio( data, amostras ):
    stream = []
    for i in range(len(data)):
        stream.append(i)
        
    i = 0
    tamanho = len(data)
    
    reservatorio = [0] * amostras
    for i in range(amostras):
        reservatorio[i] = stream[i]
        
    while i < tamanho:
        j = random.randrange( i + 1 )
        if j < amostras:
            reservatorio[j] = stream[i] 
            
        i+=1
        
    return data.iloc[reservatorio]

In [50]:
df_amostragem_resevatorio = amostragem_resevatorio(data,100)
df_amostragem_resevatorio.head()

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,grupo
29608,41,Self-emp-inc,114580,Prof-school,15,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,2415,55,United-States,>50K,90
21696,37,Federal-gov,329088,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,Black,Male,0,0,40,United-States,<=50K,66
30676,42,Private,355728,Assoc-voc,11,Never-married,Craft-repair,Not-in-family,White,Male,0,0,44,United-States,<=50K,94
28550,43,Private,110970,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1902,40,United-States,>50K,87
8768,52,Federal-gov,221532,Bachelors,13,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,45,United-States,>50K,26

# Comparativo dos resultados

In [42]:
data.age.mean()

38.58164675532078

In [43]:
df_amostra_aleatoria_simples.age.mean()

39.13

In [45]:
df_amostra_sistematica.age.mean()

37.57

In [48]:
df_amostragem_agrupamento_tunada.age.mean()

38.74806534823732

In [49]:
test.age.mean()

37.15

In [51]:
df_amostragem_resevatorio.age.mean()

37.85

# Exercicios

In [54]:
credit_data = pd.read_csv('Estatística+para+Ciência+de+Dados+e+Machine+Learning (1)/Estatística para Ciência de Dados e Machine Learning/Bases de dados/credit_data.csv')
credit_data.head()

   i#clientid        income        age         loan  c#default
0           1  66155.925095  59.017015  8106.532131          0
1           2  34415.153966  48.117153  6564.745018          0
2           3  57317.170063  63.108049  8020.953296          0
3           4  42709.534201  45.751972  6103.642260          0
4           5  66952.688845  18.584336  8770.099235          1

## Realizando as amostragens

In [56]:
len(credit_data)/1000

2.0

In [59]:
len(credit_data)

2000

In [64]:
def amostragem_estratificada( data, percentual, random_state=0):
    split = StratifiedShuffleSplit(test_size=percentual, random_state=random_state)
    for _, test in split.split(data, data['c#default']):
        test = data.iloc[test]
        
    return test

In [65]:
credit_amostra_aleatoria_simples = amostra_aleatoria_simples( credit_data, 1000)
credit_amostra_sistematica = amostra_sistematica( credit_data, 1000)
credit_amostragem_agrupamento_tunada = amostragem_agrupamento_tunada( credit_data, 2 )
credit_amostragem_estratificada = amostragem_estratificada( credit_data, 0.5)
credit_amostragem_resevatorio = amostragem_resevatorio( credit_data, 1000)

In [66]:
print(f'credit_amostra_aleatoria_simples     : {credit_amostra_aleatoria_simples.shape}')
print(f'credit_amostra_sistematica           : {credit_amostra_sistematica.shape}')
print(f'credit_amostragem_agrupamento_tunada : {credit_amostragem_agrupamento_tunada.shape}')
print(f'credit_amostragem_estratificada      : {credit_amostragem_estratificada.shape}')
print(f'credit_amostragem_resevatorio        : {credit_amostragem_resevatorio.shape}')

credit_amostra_aleatoria_simples     : (1000, 5)
credit_amostra_sistematica           : (1000, 5)
credit_amostragem_agrupamento_tunada : (1001, 5)
credit_amostragem_estratificada      : (1000, 5)
credit_amostragem_resevatorio        : (1000, 5)

### Age

In [68]:
print(f'original                             : {credit_data.age.mean()}')
print(f'credit_amostra_aleatoria_simples     : {credit_amostra_aleatoria_simples.age.mean()}')
print(f'credit_amostra_sistematica           : {credit_amostra_sistematica.age.mean()}')
print(f'credit_amostragem_agrupamento_tunada : {credit_amostragem_agrupamento_tunada.age.mean()}')
print(f'credit_amostragem_estratificada      : {credit_amostragem_estratificada.age.mean()}')
print(f'credit_amostragem_resevatorio        : {credit_amostragem_resevatorio.age.mean()}')

original                             : 40.80755937840458
credit_amostra_aleatoria_simples     : 40.826738977780984
credit_amostra_sistematica           : 40.91117381141754
credit_amostragem_agrupamento_tunada : 41.0432231120503
credit_amostragem_estratificada      : 40.79162198073839
credit_amostragem_resevatorio        : 40.57203708208336

### income

In [71]:
print(f'original                             : {credit_data.income.mean()}')
print(f'credit_amostra_aleatoria_simples     : {credit_amostra_aleatoria_simples.income.mean()}')
print(f'credit_amostra_sistematica           : {credit_amostra_sistematica.income.mean()}')
print(f'credit_amostragem_agrupamento_tunada : {credit_amostragem_agrupamento_tunada.income.mean()}')
print(f'credit_amostragem_estratificada      : {credit_amostragem_estratificada.income.mean()}')
print(f'credit_amostragem_resevatorio        : {credit_amostragem_resevatorio.income.mean()}')

original                             : 45331.600017793244
credit_amostra_aleatoria_simples     : 45203.37180381175
credit_amostra_sistematica           : 45691.49875066942
credit_amostragem_agrupamento_tunada : 44846.74925986141
credit_amostragem_estratificada      : 45610.56038789683
credit_amostragem_resevatorio        : 45111.194297345355

### loan

In [73]:
print(f'original                             : {credit_data.loan.mean()}')
print(f'credit_amostra_aleatoria_simples     : {credit_amostra_aleatoria_simples.loan.mean()}')
print(f'credit_amostra_sistematica           : {credit_amostra_sistematica.loan.mean()}')
print(f'credit_amostragem_agrupamento_tunada : {credit_amostragem_agrupamento_tunada.loan.mean()}')
print(f'credit_amostragem_estratificada      : {credit_amostragem_estratificada.loan.mean()}')
print(f'credit_amostragem_resevatorio        : {credit_amostragem_resevatorio.loan.mean()}')

original                             : 4444.369694688258
credit_amostra_aleatoria_simples     : 4335.287877726646
credit_amostra_sistematica           : 4506.78797642633
credit_amostragem_agrupamento_tunada : 4390.161493744205
credit_amostragem_estratificada      : 4542.669190455281
credit_amostragem_resevatorio        : 4429.634971370369